<h1>
  Angular Store
</h1>

<nav>
  <a routerLink="/home" routerLinkActive="active">Home</a>
  <a routerLink="/products" routerLinkActive="active">Products</a>
  <a routerLink="/contact" routerLinkActive="active">Contact</a>
  <a routerLink="/admin" routerLinkActive="active">Admin</a>
</nav>

<router-outlet></router-outlet>

<footer>
  <hr/>
  Copyright <a href="http://angular.ac">Angular 2021 By Laurent</a>
  <hr/>
  With Ludwig, Moustapha, Javier, Bruno, Sophie, Errol, Sady, Alexandre
</footer>
